.img{
    background-image: url(./bg.jpeg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
}
.hom{
    background-color: white;
    border: 0.1em black;
    border-radius: 1rem;
    width: 27rem;
    height: 13rem;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
.img{
    font-family: 'Mulish', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
p{
    font-family: 'Manrope', sans-serif;
}
@media(max-width:400px){
    .hom{
        margin-top: auto;
        margin-bottom: auto;
        width: 13.5rem;
        height: auto;
    }
}
@media(max-width:700px){
    .hom{
        margin-top: auto;
        margin-bottom: auto;
        width: 19rem;
        height: auto;
    }
}